#team_details_caption {
    margin-bottom: 70px;
}

#team_details_name {
    margin-top: 8px;
    word-break: break-all;
}

#team_details_button_join {
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    #team_details_caption {
        margin-bottom: 40px;
    }
    #team_details_button_join {
        margin-top: 0px;
    }
}