#edit_profile_background {
    background-image: url('../assets/dark_blue_5.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  #edit_profile_space {
    height: 20px;
  }
  
  #edit_profile_div {
    margin-top: 0;
  }
  
  #edit_profile_caption {
    margin-bottom: 70px;
    margin-top: 40px;
  }
  
  #edit_profile_row {
    margin-left: 2%;
    margin-top: 10px;
    width: 300px;
  }

  #edit_profile_dob {
    margin-left: 2%;
    margin-top: 10px;
    width: 300px;
  }
  
  #edit_profile_label {
    color: #7BD300;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 16px;
  }
  
  .edit_profile_data {
    color: rgb(206, 57, 57);
    font-size: 29px;
    font-weight: 300;
    margin-top: -3px;
    margin-right: -6px;
    width: 100px;
  }
  
  #edit_profile_buttons_div {
    margin-top: 110px;
  }
  
  #edit_profile_button_cancel {
    background-color: crimson !important;
    text-decoration: none;
  }
  
  @media screen and (max-width: 1200px) {
    #edit_profile_background {
      background-image: url('../assets/mobile_tablet_dark_blue_5.png');
    }
  }
  
  @media screen and (max-width: 500px) {
    #edit_profile_background {
      background-image: url('../assets/mobile_dark_blue_5.png');
    }
    #edit_profile_caption {
      margin-bottom: 80px;
      margin-top: 10px;
    }
    #edit_profile_row {
      margin-top: 10px;
      max-width: 250px;
      margin-left: 6px;
      word-break: break-all;
    }
    #edit_profile_label {
      font-size: 23px;
      font-weight: 410;
      margin-bottom: 10px;
    }
    .edit_profile_data {
      font-size: 26px;
      margin-left: 0px;
      font-weight: 300;
    }
  }