#user_profile_app {
  background-image: url('../assets/dark_blue_5.png');
  background-size: cover;
}

#user_profile_div {
  margin-top: 0;
}

#user_profile_caption {
  margin-bottom: 70px;
  margin-top: 40px;
}

#user_profile_row {
  margin-left: 2%;
  margin-top: 10px;
  max-width: 600px;
  word-break: break-all;
}

#user_profile_label {
  color: #7BD300;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-right: 16px;
}

.user_profile_data {
  color: rgb(255, 255, 255);
  font-size: 29px;
  font-weight: 300;
  margin-top: -3px;
  margin-right: -6px;
}

#user_profile_buttons_div {
  margin-top: 100px;
}

#user_profile_button_edit {
  text-decoration: none;
}

#user_profile_button_delete_account {
  background-color: crimson !important;
  text-decoration: none;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  #user_profile_app {
    background-image: url('../assets/mobile_tablet_dark_blue_5.png');
  }
}

@media screen and (max-width: 500px) {
  #user_profile_app {
    background-image: url('../assets/mobile_dark_blue_5.png');
  }
  #user_profile_caption {
    margin-bottom: 80px;
    margin-top: 10px;
  }
  #user_profile_row {
    margin-top: 10px;
    max-width: 250px;
    margin-left: 6px;
    word-break: break-all;
  }
  #user_profile_label {
    font-size: 23px;
    font-weight: 410;
    margin-bottom: 10px;
  }
  .user_profile_data {
    font-size: 26px;
    margin-left: 0px;
    font-weight: 300;
  }
}