.global_app {
  background-color: rgb(49, 110, 160) !important;
}

.global_div {
  margin-top: 20px;
  margin-left: 0.5%;
}

.global_caption {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 16px;
  margin-left: 1%;
  font-weight: bold;
}

.global_p {
  color: rgb(255, 255, 255);
  font-size: 26px;
  margin-top: 90px;
  margin-left: 1.5%;
  font-weight: bold;
}

.global_details_p {
  color: rgb(255, 255, 255);
  font-size: 27px;
  margin-top: -12px;
  margin-left: 1.5%;
  font-weight: bold;
}

.global_div_centerize {
  text-align: center;
}

.global_full_width_input {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 0.5%;
  outline-color: rgb(21, 52, 80);
  background-color: rgb(240, 240, 240);
  padding: 10px;
  width: 97.5%;
}

.global_v_btn {
  color: #ffffff !important;
  background: #2196F3 !important;
  padding: 26px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  width: 270px !important;
  margin-bottom: 20px;
}

.global_login_or_register_data_input {
  font-size: 20px;
  outline-color: rgb(21, 52, 80);
  background-color: rgb(240, 240, 240);
  padding: 10px;
  width: 270px;
}

.global_participants {
  margin-top: 60px;
  margin-left: 26px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  word-break: break-all;
}

.global_card {
  background-color: #7BD300;
  padding: 30px;
  margin: 20px;
  margin-bottom: 70px;
  width: 70%;
  border-radius: 1.5%;
}

.global_input_required {
  color: rgb(248, 61, 61);
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 4px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .global_app {
    background-color: rgb(49, 110, 160) !important;
  }
  .global_div {
    margin-top: 70px;
    margin-left: 1.5%;
  }
  .global_caption {
    font-size: 24px;
    font-weight: 410;
  }
  .global_p {
    font-size: 23px;
    font-weight: 410;
  }
  .global_details_p {
    font-size: 24px;
    font-weight: 410;
  }
  .global_full_width_input {
    font-size: 23px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    width: 95.5%;
  }
  .global_v_btn {
    padding: 21px !important;
    font-size: 15px !important;
    width: 200px !important;
  }
  .global_participants {
    margin-top: 36px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 24px;
    color: rgb(255, 255, 255);
  }
  .global_card {
    background-color: #7BD300;
    padding: 16px;
    margin: 20px;
    margin-bottom: 50px;
    width: 90%;
  }
}

@media screen and (max-width: 300px) {
  .global_login_or_register_data_input {
    width: 240px;
  }
}