#delete_account_app {
    background-image: url('../assets/dark_blue_5.png');
    background-size: cover;
    background-attachment: fixed;
}

#delete_account_div {
    text-align: center;
    margin-top: 8%;
}

#delete_account_caption {
    margin-left: 8vw;
    margin-right: 8vw;
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 50px;
    margin-top: 10%;
}

#delete_account_button_yes {
    background: crimson !important;
    text-decoration: none;
}

#delete_account_button_no {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    #delete_account_app {
        background-image: url('../assets/mobile_tablet_dark_blue_5.png');
    }
    #delete_account_caption {
        margin-top: 25%;
    }
}

@media screen and (max-width: 500px) {
    #delete_account_app {
        background-image: url('../assets/mobile_dark_blue_5.png');
    }
    #delete_account_caption {
        font-size: 20px;
        margin-top: 20%;
    }
    #delete_account_button_yes {
        width: 230px !important;
    }
    #delete_account_button_no {
        width: 230px !important;
    }
}