#register_app {
  background-image: url('../assets/dark_blue_1.png');
  background-size: cover;
  background-attachment: fixed;
}

#register_space {
  height: 1vh;
}

#register_div {
  text-align: center;
  margin-top: 6%;
}

#register_name_input_required {
  margin-top: 42px;
  margin-bottom: -42px;
}

#register_name {
  margin-top: 50px;
  margin-bottom: 20px;
}

#register_username {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_position {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_dob_label {
  color: #ffffff;
}

#register_dob {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_email {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_password {
  margin-top: 5px;
  margin-bottom: 60px;
}

#register_button_register {
  margin-bottom: 40px;
}

#register_error {
  width: 270px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #register_app {
    background-image: url('../assets/mobile_tablet_dark_blue_1.png');
  }
}

@media screen and (max-width: 500px) {
  #register_app {
    background-image: url('../assets/mobile_dark_blue_1.png');
  }
  #register_error {
    width: 200px;
  }
}