.global_app {
  background-color: rgb(49, 110, 160) !important;
}

.global_div {
  margin-top: 20px;
  margin-left: 0.5%;
}

.global_caption {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 16px;
  margin-left: 1%;
  font-weight: bold;
}

.global_p {
  color: rgb(255, 255, 255);
  font-size: 26px;
  margin-top: 90px;
  margin-left: 1.5%;
  font-weight: bold;
}

.global_details_p {
  color: rgb(255, 255, 255);
  font-size: 27px;
  margin-top: -12px;
  margin-left: 1.5%;
  font-weight: bold;
}

.global_div_centerize {
  text-align: center;
}

.global_full_width_input {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 0.5%;
  outline-color: rgb(21, 52, 80);
  background-color: rgb(240, 240, 240);
  padding: 10px;
  width: 97.5%;
}

.global_v_btn {
  color: #ffffff !important;
  background: #2196F3 !important;
  padding: 26px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  width: 270px !important;
  margin-bottom: 20px;
}

.global_data_input {
  font-size: 20px;
  outline-color: rgb(21, 52, 80);
  background-color: rgb(240, 240, 240);
  padding: 10px;
  width: 270px;
}

.global_participants {
  margin-top: 60px;
  margin-left: 26px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  word-break: break-all;
}

.global_no_events_label {
  color: #ffffff;
  font-size: 20px;
  margin-top: 40px;
}

.global_events_list {
  margin-top: 50px;
}

.global_event_card {
  width: 80vw;
  margin-top: 40px;
  text-align: left;
  word-break: keep-all;
}

#event_card {
  width: 80vw;
}

#global_team_card {
  width: 60vw;
  word-break: keep-all;
}

.global_event_card_date {
  color: #ffffff;
  margin-left: 12px;
}

.global_team_card_name {
  margin-left: 12px;
  margin-bottom: 10px;
  word-break: keep-all !important;
}

.global_event_card_day_of_week {
  color: #ffffff;
  font-weight: 500;
  margin-top: -30px;
  margin-left: 30px;
}

.global_event_card_time {
  color: #ffffff;
  font-size: 55px;
  margin-left: 25px;
  margin-top: 35px;
}

.global_event_card_address {
  margin-left: 27px;
}

.global_team_card_city {
  margin-left: 10px;
}

.global_event_card_button {
  color: #ffffff !important;
  background: #2196F3 !important;
  font-weight: bold !important;
  margin-bottom: 20px;
  margin-left: 12px;
  padding: 21px !important;
  font-size: 15px !important;
  width: 200px !important;
}

.global_input_required {
  color: rgb(248, 61, 61);
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 4px;
  text-align: center;
}

.global_error {
  color: rgb(163, 13, 13);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
  background: rgb(255, 108, 108);
  outline-style: groove;
  padding: 6px;
  word-break: keep-all;
}

.global_search {
  background-color: #ffffff;
  width: 60vw;
}

.global_overview_icon {
  margin-right: 10px;
}

.global_overview_label {
  word-break: keep-all !important;
}

@media screen and (max-width: 500px) {
  .global_app {
    background-color: rgb(49, 110, 160) !important;
  }
  .global_div {
    margin-top: 70px;
    margin-left: 1.5%;
  }
  .global_caption {
    font-size: 24px;
    font-weight: 410;
  }
  .global_p {
    font-size: 23px;
    font-weight: 410;
  }
  .global_details_p {
    font-size: 24px;
    font-weight: 410;
  }
  .global_full_width_input {
    font-size: 23px;
    margin-left: 1.5%;
    margin-right: 2.5%;
    width: 95.5%;
  }
  .global_v_btn {
    padding: 21px !important;
    font-size: 15px !important;
    width: 200px !important;
  }
  .global_event_card_button {
    width: 160px !important;
  }
  #global_team_card {
    width: 90vw;
  }
  .global_event_card_date {
    margin-left: 0px;
  }
  .global_event_card_day_of_week {
    margin-left: 17px;
  }
  .global_event_card_time {
    margin-left: 15px;
  }
  .global_error {
    font-size: 16px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .global_data_input {
    width: 240px;
  }
}