#register_div_background {
  background-image: url('../assets/dark_blue_1.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#register_space {
  height: 3vh;
}

#register_div {
  text-align: center;
  margin-top: 8%;
}

#register_name {
  margin-top: 50px;
  margin-bottom: 20px;
}

#register_username {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_position {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_dob {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_email {
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_password {
  margin-top: 5px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  #register_app {
    background-image: url('../assets/mobile_tablet_dark_blue_1.png');
  }
}

@media screen and (max-width: 500px) {
  #register_app {
    background-image: url('../assets/mobile_dark_blue_1.png');
  }
}