#register_app {
    background-image: url('../assets/dark_blue_1.png');
    background-size: cover;
  }
  
#register_div {
  text-align: center;
  margin-top: 8%;
}

#register_caption {
  margin-left: 0px;
}

.input_register{
  margin-top: 5px;
  margin-bottom: 20px;
}

#register_confirmPassword {
  margin-top: 5px;
  margin-bottom: 60px;
}

#register_button_register {
  margin-top: 50px;
}

.input_error{
  width: 270px;
  margin: auto;
}





@media screen and (max-width: 1200px) {
  #register_app {
    background-image: url('../assets/mobile_tablet_dark_blue_1.png');
  }
}





@media screen and (max-width: 500px) {
  #register_app {
    background-image: url('../assets/mobile_dark_blue_1.png');
  }  
}