#create_team_caption {
  margin-bottom: 70px;
}

#create_team_p {
  margin-top: 20px;
}

#create_team_name {
  margin-bottom: 90px;
}

#create_team_button_create {
    margin-top: 90px;
    margin-left: -0.5%;
    margin-bottom: 30px;
  }





  @media screen and (max-width: 500px){

    #create_team_caption {
      margin-bottom: 40px;
    }

    #create_team_name {
      margin-bottom: 36px;
    }

  }