#event_details_caption {
    margin-bottom: 70px;
}

#event_details_type {
    margin-top: 10px;
    margin-bottom: 36px;
    font-size: 36px;
}

#event_details_address {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 410;
    word-break: break-all;
}

#event_details_details {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 410;
    word-break: break-all;
}

#event_details_button_join {
    margin-top: 50px;
}





@media screen and (max-width: 500px){

    #event_details_caption {
        margin-bottom: 40px;
    }
    
    #event_details_type {
        margin-bottom: 26px;
        font-size: 30px;
        font-weight: 410;
    }
    
    #event_details_address {
        margin-top: 24px;
        font-size: 18px;
        font-weight: 410;
        word-break: break-all;
    }
    
    #event_details_details {
        margin-top: -8px;
        font-size: 18px;
        font-weight: 410;
        word-break: break-all;
    }
    
    #event_details_button_join {
        margin-top: 50px;
        margin-left: -5px;
    }

  }


























/*#event_details_caption {
    margin-bottom: 70px;
}

#event_details_type {
    margin-top: 10px;
    margin-bottom: 36px;
    font-size: 36px;
}

#event_details_address {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 410;
    word-break: break-all;
}

#event_details_details {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 410;
    word-break: break-all;
}

#event_details_button_join {
    margin-top: 50px;
}





@media screen and (max-width: 500px){

    #event_details_caption {
        margin-bottom: 40px;
    }
    
    #event_details_type {
        margin-bottom: 26px;
        font-size: 30px;
        font-weight: 410;
    }
    
    #event_details_address {
        margin-top: 24px;
        font-size: 18px;
        font-weight: 410;
        word-break: break-all;
    }
    
    #event_details_details {
        margin-top: -8px;
        font-size: 18px;
        font-weight: 410;
        word-break: break-all;
    }
    
    #event_details_button_join {
        margin-top: 50px;
        margin-left: -5px;
    }

  }
  */